<footer>
        Make with <i class="fas fa-heart"></i> <a href="https://twitter.com/didiersa">{{ capitalize name }}</a> {{ getAnio }}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>