{{> head }}

    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Acerca de</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta dignissim elit ut sodales. Suspendisse hendrerit erat eget luctus efficitur. Mauris vestibulum dolor pellentesque suscipit imperdiet. Morbi quis purus et lacus pretium gravida eu a sem. Pellentesque tellus urna, tempor at scelerisque et, mollis egestas elit. Quisque accumsan suscipit purus, eu cursus ante tempor ut. Donec volutpat accumsan tellus, a commodo risus tempus non. Etiam eros enim, posuere at libero vitae, aliquet hendrerit ipsum. Morbi eu posuere ex. Suspendisse vel hendrerit metus.
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/picture.jpg" alt="cabrita" class="img-thumbnail">
            </div>
        </div>
    </div>
    

{{> footer }}    