{{> head }}

    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>About</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta dignissim elit ut sodales. Suspendisse hendrerit erat eget luctus efficitur. Mauris vestibulum dolor pellentesque suscipit imperdiet. Morbi quis purus et lacus pretium gravida eu a sem.
                </p>
            </div>

            <div class="col-sm-4">
                <img src="assets/img/picture.jpg" alt="cabrita" class="img-thumbnail">
                <small class="text-muted">* Imagen de muestra</small>
            </div>
        </div>
    </div>
    

{{> footer }}    