{{> head }}

    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalize name }}!</h1>
        <p class="lead">Este es un peque침o ejemplo de una aplicaci칩n hecha con javascript, nodejs y express. La funcionalidad de las misma en poca o casi nula, solo se desarrollo para poner en pr치ctica los conocimientos aprendidos y el despliegue a producci칩n en Heroku.</p>
        <hr class="my-4">
        <div class="text-center">
            <p>Dudas, recomendaciones y aclaraciones en:</p>
            <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/irving-didier-sarmiento2929/" target="_blank" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-info btn-lg" href="https://twitter.com/didiersa" target="_blank" role="button">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
{{> footer }}    